
@* <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title> </title>
</head>
<body> *@
    <style>
        .justify-text{
            text-align:justify;
        }
    </style>
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>About Us</h1>
                    </div>
                </div>
                <div class="col-lg-7">
                </div>
            </div>
        </div>
    </div>

    

<!-- Start Team Section -->
<div class="untree_co-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-lg-5 mx-auto text-center">
                <h2 class="section-title">Our Team</h2>
            </div>
        </div>

        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="images/Lionel Messi.jpg" class="img-fluid mb-5">
                <h3 class=""><span class="text-black">Lionel Messi</span> <a href="https://www.instagram.com/leomessi/?hl=en" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></h3>
                <span class="d-block position mb-4">Ambassador</span>
                <p class="justify-text">
                    Lionel Messi, our esteemed company ambassador, is not only known for his incredible 
                    achievements on the football field but also for his dedication to inspiring people worldwide. 
                    As a global icon, Messi embodies the values of excellence, perseverance, and leadership,
                    making him the perfect representative for our brand. With his passion for success and continuous 
                    drive to break boundaries, Messi plays a pivotal role in promoting our mission and connecting 
                    with our audience on a deeper level.
                </p>

                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
            </div>
            <!-- End Column 1 -->
            <!-- Start Column 2 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="images/Dip.jpg" class="img-fluid mb-5">

                <h3 class=""><span class="text-black">Dip Kishor Regmi</span> <a href="https://www.instagram.com/dipkishor_regmi/" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></h3>
                <span class="d-block position mb-4">CEO, Founder, Attorny.</span>
                <p class="justify-text">
                    Dip Kishor Regmi is a visionary leader and the driving force behind Furni Emporium. As the CEO and founder, Dip has built a reputation for his exceptional leadership, innovative approach, and deep understanding of the legal landscape. With years of experience as a seasoned attorney, his expertise spans various fields, where he has successfully represented clients and guided them through complex legal matters.
                </p>
                <p class="justify-text">
                    Under his leadership, Furni Emporium has grown to become a leading name in the industry, known for its commitment to excellence, client-focused solutions, and integrity. Dip's dedication to his work is matched by his passion for fostering growth and empowering his team to achieve their highest potential.
                </p>
                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>

            </div>
            <!-- End Column 2 -->
            <!-- Start Column 3 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="images/person_4.jpg" class="img-fluid mb-5">
                <h3 class=""><span class="text-black">Surakshya Adhikari</span> <a href="https://www.instagram.com/surakshya_adhikari/" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></h3>
                <span class="d-block position mb-4">HR, Founder.</span>
                <p class="justify-text">
                    Surakshya Adhikari is a dynamic leader and the co-founder of Furni Emporium, where she also serves as the Head of Human Resources. With a natural talent for building strong teams and fostering a positive work culture, Surakshya has been instrumental in shaping the company’s growth and success. Her keen insight into talent management and organizational development ensures that the company not only attracts top talent but also nurtures an environment where employees can thrive.
                </p>
                <p class="justify-text">
                    As both a founder and HR leader, Surakshya is dedicated to aligning the company’s vision with its people. Her empathetic leadership style, combined with her strategic mindset, has helped [Your Company Name] build a strong, cohesive team that drives the company forward.
                </p>
                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
            </div>
            <!-- End Column 3 -->
            <!-- Start Column 4 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="images/person_3.jpg" class="img-fluid mb-5">

                <h3 class=""><span class="text-black">Prajwal Baral</span> <a href="https://www.instagram.com/prajwal_baral/" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></h3>
                <span class="d-block position mb-4">CTO,Founder.</span>
                <p class="justify-text">
                    Prajwal Baral is the visionary Chief Technology Officer and co-founder of Furni Emporium, where he leads the company’s technological innovation and strategy. With a passion for cutting-edge technology, Prajwal has been instrumental in shaping the technical foundation of the company, ensuring that it remains at the forefront of industry advancements.
                </p>
                <p class="justify-text">
                    As CTO, Prajwal oversees the development of scalable solutions that drive business growth, while his leadership ensures the seamless integration of technology across all operations. His expertise in technology and innovation is matched by his commitment to creating a tech-driven culture that empowers the team and drives the company’s success.
                </p>
                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>


            </div>
            <!-- End Column 4 -->



        </div>
    </div>
</div>
<!-- End Team Section -->
@* </body>
</html> *@