html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}



.custom-btn {
    font-size: 0.875rem; /* Adjust the font size as needed */
    padding: 0.25rem 0.5rem; /* Adjust padding as needed */
}

/*=====================================*/
.account-block {
    padding: 0;
    background-image: url(https://i.pinimg.com/736x/a1/3e/02/a13e028d35b6b27d0ce1de6efcc3459b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

    .account-block .overlay {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .account-block .account-testimonial {
        text-align: center;
        color: #fff;
        position: absolute;
        margin: 0 auto;
        padding: 0 1.75rem;
        bottom: 3rem;
        left: 0;
        right: 0;
    }

.text-themee {
    color: #023020;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: green;
}
body {
    margin-bottom: 60px;
    margin-top: 80px;
}